.philosophy_mobile {
     width: 100%;
     height: 185vh;
     background-color: #1a1a1e;
     position: relative;
}

.top_shape {
     position: absolute;
     background-color: #1a1a1e;
     width: 100%;
     height: 5vh;
     top: -5vh;
     border-top-left-radius: 80px;
     border-top-right-radius: 80px;
}

.philosophy_mobile h2 {
     text-align: center;
     font-family: 'Roboto Mono', monospace;
     color: #b0b0b0;
     padding-top: 20px;
     font-size: 1.5em;
     font-weight: 500;
}

.philosophy_image {
     width: 60%;
     height: 50vh;
     background-color: #fff;
     margin: 10vh auto 0 auto;
     box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.79);
     background-image: url(../Images/Philosophy\ img.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 35% center;
     filter: brightness(90%) grayscale(15%) saturate(90%)
}

.philosophy_mobile p {
     width: 70%;
     text-align: center;
     color: #b0b0b0;
     margin: 10vh auto 0 auto;
}

.philosophy_mobile a:nth-of-type(1) {
     width: 40%;
     height: 35px;
     background-color: #b0b0b0;
     color: black;
     text-align: center;
     text-decoration: none;
     position: absolute;
     left: 50%;
     transform: translate(-50%, -50%);
     bottom: 150px;
     line-height: 35px;
     font-family: 'Roboto Mono', monospace;
}

.philisophy_desktop {
     display: none;
}

.headphones_mobile {
     width: 100%;
     height: 190vh;
     background-color: rgb(134, 134, 134);
     position: relative;
     font-family: 'Roboto Mono', monospace;
}

.headphones_mobile .top_shape {
     background-color: rgb(134, 134, 134);
}

.headphones_mobile h2 {
     text-align: center;
     font-size: 1.5em;
     height: 10vh;
     font-weight: 500;
}

.images_container {
     width: 100%;
     height: 95vh;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
}

.images_container div {
     width: 80%;
     height: 33vh;
     background-color: #fff;
     justify-self: center;
     align-self: center;
}

.images_container div:nth-of-type(1) {
     background-image: url(../Images/b1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 80% 0;
}

.images_container div:nth-of-type(2) {
     grid-row: span 2;
     background-image: url(../Images/b2.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

.images_container div:nth-of-type(3) {
     background-image: url(../Images/b3.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

.text_container {
     height: 75vh;
     width: 100%;
}

.text_container p {
     width: 70%;
     text-align: center;
     margin: 0 auto;
}

.text_container a {
     width: 40%;
     height: 35px;
     background-color: #b0b0b0;
     color: black;
     text-align: center;
     text-decoration: none;
     position: absolute;
     left: 50%;
     transform: translate(-50%, -50%);
     bottom: 12vh;
     line-height: 35px;
     font-family: 'Roboto Mono', monospace;
}

.headphones_desktop {
     display: none;
}

.quality_mobile {
     width: 100%;
     height: 190vh;
     background-color: rgb(194, 194, 194);
     position: relative;
     font-family: 'Roboto Mono', monospace;
     display: grid;
     grid-template-rows: 10vh 90vh 90vh;
}

.quality_mobile .top_shape {
     background-color: rgb(194, 194, 194);
}

.quality_mobile h2 {
     text-align: center;
     font-family: 'Roboto Mono', monospace;
     color: #252525;
     font-size: 1.5em;
     height: 10vh;
     font-weight: 500;
}

.quality_mobile .first_section {
     width: 100%;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.quality_mobile .secomd_section {
     width: 100%;
     height: 90vh;
}


.first_section .under_text {
     width: 100%;
     height: 60%;
     display: flex;
     justify-content: flex-end;
     position: relative;
     overflow-x: hidden;
}

.under_text .img {
     width: 60%;
     height: 100%;
     background-color: rgb(0, 0, 0);
     margin-right: 10%;
     background-image: url(../Images/b4.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     z-index: 2;
}

.under_text p {
     position: absolute;
     z-index: 1;
     font-size: 3em;
     font-family: 'Roboto Mono', monospace;
     width: 190%;
     height: 20%;
     top: -10%;
     font-weight: 500;
     line-height: 100%;
     left: -70%;
     opacity: .5;
}



.under_text p:nth-child(2) {
     top: 10%;
     left: -60%;
}

.under_text p:nth-child(3) {
     top: 30%;
     left: -50%;
}

.under_text p:nth-child(4) {
     top: 50%;
     left: -40%;
}

.under_text p:nth-child(5) {
     top: 70%;
     left: -30%;
}

.under_text p:nth-child(6) {
     top: 90%;
     left: -20%;
}

.quality_mobile .secomd_section p {
     width: 70%;
     text-align: center;
     color: #252525;
     margin: 0 auto;
     font-weight: 500;
}

.secomd_section a {
     width: 40%;
     height: 35px;
     background-color: #b0b0b0;
     color: black;
     text-align: center;
     text-decoration: none;
     position: absolute;
     left: 50%;
     transform: translate(-50%, -50%);
     bottom: 12vh;
     line-height: 35px;
     font-family: 'Roboto Mono', monospace;
}

.quality_desktop {
     display: none;
}

footer {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     background-color: #0b0b10;
     font-family: 'Roboto Mono', monospace;
}

footer a {
     width: 100%;
     height: 24%;
     background-color: #fff;
     text-align: center;
     line-height: 24vh;
     color: white;
     text-decoration: none;
     font-size: 1.8em;
}

footer a i {
     font-size: 1.8em;
}


footer a:nth-child(1) {
     background-color: #1a1a1e;
}

footer a:nth-child(2) {
     background-color: rgb(134, 134, 134);
}

footer a:nth-child(2) i {
     color: rgb(73, 19, 122);
}

footer a:nth-child(3) {
     background-color: rgb(194, 194, 194);
}

footer a:nth-child(3) i {
     color: rgb(35, 47, 155);
}

footer a:nth-child(4) {
     color: black;
}

@media only screen and (min-width:768px) {
     .philosophy_mobile {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 30% 70%;
          grid-template-areas:
               'headline img '
               ' text img';
          height: 100vh;

     }

     .philosophy_mobile h2 {
          grid-area: headline;
          align-self: center;
     }

     .philosophy_image {
          grid-area: img;
          align-self: center;
          margin-top: 0;
          margin-bottom: 20vh;
          width: 75%;
     }

     .philosophy_mobile p {
          grid-area: text;
          margin-top: 0;
     }

     .text_container p {
          width: 55%;
          padding-top: 10%;
          font-size: 1.4em;
     }

     .headphones_mobile h2 {
          font-size: 2em;
          width: 80%;
          margin: 0 auto;
     }

     .text_container a {
          bottom: 100px;
     }

     .under_text .img {
          margin: 0;
     }

     .under_text p {
          display: none;
     }

     .quality_mobile h2 {
          font-size: 2em;
     }

     .quality_mobile {
          height: 150vh;
     }

     .quality_mobile .under_text {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80%;
     }

     .under_text .img {
          box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.79);
          height: 90%;
     }

     .quality_mobile .secomd_section {
          height: 50vh;
     }

}

@media only screen and (min-width:1200px) {
     .philosophy_mobile {
          display: none;
     }

     .philisophy_desktop {
          width: 100%;
          height: 100vh;
          background-color: rgb(255, 255, 255);
          font-family: 'Roboto Mono', monospace;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 30% 70%;
          grid-template-areas:
               'headline img'
               'text img';
          position: relative;
     }

     .philisophy_desktop div.image {
          background-image: url(../Images/Philosophy\ img.jpg);
          grid-area: img;
          width: 52%;
          height: 75%;
          justify-self: center;
          align-self: center;
          background-repeat: no-repeat;
          background-position: 45% center;
          background-size: cover;
          filter: grayscale(35%) saturate(100%);

     }



     .philisophy_desktop h2 {
          grid-area: headline;
          justify-self: center;
          align-self: center;
          font-size: 2.5em;
          margin-left: 12%;
     }

     .philisophy_desktop p {
          grid-area: text;
          justify-self: center;
          align-self: center;
          width: 80%;
          font-size: 1.2em;
          font-weight: 500;
          margin-bottom: 10%;
          margin-left: 20%;
     }

     .philisophy_desktop a {
          position: absolute;
          background-color: #0b0b10;
          width: 240px;
          height: 65px;
          text-align: center;
          text-decoration: none;
          color: rgb(233, 233, 233);
          border: 1px solid rgb(233, 233, 233);
          line-height: 60px;
          font-size: 1.3em;
          transition: .4s ease;
          left: 45%;
          top: 15%;
     }

     .philisophy_desktop a:hover {
          color: black;
          background-color: #fff;
     }

     .headphones_mobile {
          display: none;
     }

     .headphones_desktop {
          display: flex;
          height: 100vh;
          width: 100%;
          font-family: 'Roboto Mono', monospace;
     }

     .headphones_desktop article {
          height: 100vh;
          width: 30%;
          position: relative;
     }

     .headphones_desktop section {
          height: 100vh;
          width: 70%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
     }

     .headphones_desktop section div {
          width: 75%;
          height: 50%;
          background-color: rgb(0, 0, 0);
          justify-self: center;

     }


     .headphones_desktop section div.img2 {
          align-self: center;
          background-image: url(../Images/b2.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 80% center;

     }

     .headphones_desktop section div.img3 {
          align-self: flex-end;
          margin-bottom: 7%;
          background-image: url(../Images/b3.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 0 center;
     }

     .headphones_desktop section div.img1 {
          margin-top: 7%;
          background-image: url(../Images/b1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 70% center;
     }

     .headphones_desktop article h2 {
          font-size: 2.5em;
          width: 80%;
          margin: 0 auto;
          text-align: center;
          margin-top: 45%;
     }

     .headphones_desktop article p {
          width: 100%;
          font-size: 1.3em;
          font-weight: 500;
          margin: 0 auto;
          margin-top: 14%;
     }

     .headphones_desktop article a {
          position: absolute;
          background-color: #0b0b10;
          width: 250px;
          height: 65px;
          text-align: center;
          text-decoration: none;
          color: rgb(233, 233, 233);
          border: 1px solid rgb(233, 233, 233);
          line-height: 60px;
          font-size: 1.3em;
          transition: .4s ease;
          left: 120%;
          bottom: 1%;
     }

     .headphones_desktop article a:hover {
          color: black;
          background-color: #fff;

     }

     .quality_mobile {
          display: none;
     }

     .quality_desktop {
          width: 100%;
          height: 100vh;
          background-color: rgb(255, 255, 255);
          font-family: 'Roboto Mono', monospace;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-areas:
               'text img';
          position: relative;
          overflow-x: hidden;
     }

     .quality_desktop article {
          grid-area: text;
          width: 80%;
          height: 30%;
          justify-self: center;
          align-self: center;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          z-index: 2;
     }

     .quality_desktop article h2 {
          font-size: 2.5em;
          width: 80%;
          margin: 0 auto;
          text-align: center;
     }

     .quality_desktop article p {
          width: 70%;
          font-size: 1.3em;
          font-weight: 500;
          margin: 0 auto;
     }

     .quality_desktop div.img {
          grid-area: img;
          background-image: url(../Images/b4.jpg);
          width: 52%;
          height: 75%;
          justify-self: center;
          align-self: center;
          background-repeat: no-repeat;
          background-position: 45% center;
          background-size: cover;
          filter: grayscale(35%) saturate(100%);
          z-index: 2;
     }

     .quality_desktop span {
          font-size: 13em;
          position: absolute;
          font-weight: 700;
          bottom: 18vh;
          opacity: .1;
          transform: scaleY(1.4);
          width: 200%;
          color: #0b0b10;
          animation: textswipe 15s alternate infinite linear;
     }

     .quality_desktop span:nth-of-type(2) {
          font-size: 13em;
          position: absolute;
          font-weight: 700;
          top: 18vh;
          opacity: .1;
          transform: scaleY(1.4);
          width: 200%;
          color: #0b0b10;
          animation: textswipe 15s alternate-reverse infinite linear;
          display: none;
     }

     @keyframes textswipe {
          0% {
               left: -29%;
          }

          100% {
               left: 0%;
          }
     }

     .quality_desktop a {
          position: absolute;
          background-color: #0b0b10;
          width: 200px;
          height: 55px;
          text-align: center;
          text-decoration: none;
          color: rgb(233, 233, 233);
          border: 1px solid rgb(233, 233, 233);
          line-height: 60px;
          font-size: 1.3em;
          transition: .4s ease;
          left: 52%;
          bottom: 50%;
          transform: translate(-50%, -50%);
     }

     .quality_desktop a:hover {
          color: black;
          background-color: #fff;

     }

     footer {
          height: 40vh;
          flex-direction: row;
          align-items: center;
     }

     footer a {
          width: 24%;
          height: 95%;
          line-height: 40vh;
          position: relative;
     }

     footer a::after {
          content: '';
          position: absolute;
          width: 0;
          height: 5px;
          background-color: #000;
          left: 50%;
          transform: translate(-50%, -50%);
          bottom: 20%;
          transition: .9s ease;
     }

     footer a:hover::after {
          width: 70%;
     }
}

@media only screen and (min-width:1600px) {
     .philisophy_desktop p {
          width: 50%;
     }

     .philisophy_desktop h2 {
          align-self: flex-end;
     }

     .philisophy_desktop a {

          left: 50%;

     }

     .headphones_desktop article p {
          width: 80%;
     }

     .headphones_desktop article a {
          left: 10%;
          bottom: 7%;
     }

     .quality_desktop span:nth-of-type(2) {
          display: block;
     }

     .quality_desktop a {
          width: 250px;
          height: 65px;
          bottom: 65%;
          left: 55%;

     }

     footer a {
          font-size: 1.9em;
     }

     footer a i {
          font-size: 1.9em;
     }
}